.active_nav {
    background-color: #789bb8;
	font-weight: bold;
}

#brd{
	margin-left:10%;
	margin-right:10%;
	color: #d2d2d2;
    text-shadow: 2px 2px 4px #000000;
}

#h_brd{
	margin-left:8%;
	color: #a06b48;
    text-shadow: 2px 2px 4px #000000;
}

#contents {
	background: url(../images/bg-content.gif) repeat;
	padding: 40px 0 20px;
}
#contents div.body {
	color: #fdfffa;
	
	margin: 0 auto 20px;
}

/*------------------------------Footer Create--------------------------------------*/

footer {
            text-align: center;
        }
		footer div{
            background: #efefef; 
	        background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	        background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
            background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
            box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
            padding: 0 20px;
            border-radius: 13px;
            list-style: none;
            position: relative;
            display: inline-block;
            text-align: center;
			cursor: pointer;
        }
		footer div:after{
            content: "";
            clear: both;
            display: block;
        }
		footer div div p{
            float: left;
        }
        
        footer div div p:hover{
              background: #4b545f;
		      background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		      background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		      background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
        }

/*------------------------------ FOOTER 	margin: 0 auto;
	padding: 10% 15%;
	line-height: 20px;
	width: 70%; ------------------------------*/
#footer_n{
	background-color: #0f3442;
	color: #456f7f;
	line-height: 20px;
}




/*----------------------------------------------------------------------------------------------------------*/

.image{
	float: left;
	margin: 20px;
	color: #6d6d6d;
    text-shadow: 2px 2px 4px #000000;
}

.ah{
	padding-top: 10%;
}

.text_h{
	color: #944900;
    text-shadow: 2px 2px 4px #000000;
}
.text_body{
	margin-left:10%;
	margin-right:10%;
	color: #919191;
    text-shadow: 2px 2px 4px #000000;
}
.image_f{
	margin-right:20px;
	margin-left: 20px;
	color: #6d6d6d;
    text-shadow: 2px 2px 4px #000000;
}

/*---------------------------------------------------------------------------------------------------------------------*/

/*------------------------------ FOOTER ------------------------------*/
#footer {
	color: #456f7f;
	line-height: 20px;
	width: 100%;
	margin: 0 auto;
	padding: 20px 10px;
}

#footer ul.contacts {
	float: left;
	width: 30%;
	margin: 0;
	padding: 0 0 10px;
}



#connect {
	float: left;
	width: 30%;
	margin: 0;
	padding: 0 0 10px;
}



#newsletter {
	float: left;
	width: 500px;
	padding: 0 0 20px;
}



.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


