/*
Author : Anuruddha Hewawasam
Description : Responsive Web Design for St.Thomas' College - 12000582
*/

/*body Styles*/
body {
    color: #000305;
    font-size: 87.5%;
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
}

.body {
    margin: 0 auto;
    width: 70%;
    clear: both;
}

/*Header and its compenets styles*/
.mainHeader nav {
    background-color: #C8C8C8;
    height: 40px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.mainHeader nav ul {
    list-style: none;
    margin: 0 auto;
    font-style: #000;
}

.mainHeader nav ul li {
    float: left;
    display: inline;
    font-style: #000;
}

.mainHeader nav a:link, .mainHeader nav a.visited {
    color: #FFF;
    display: inline-block;
    height: 20px;
    padding: 10px 25px;
}

.mainHeader nav a:hover,.mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav .active a:visited {
    background-color: #CF5C3F;
    text-shadow: none;
}

/*Content Styles*/
.mainContent {
    width: 100%;
    line-height: 25px;
    border-radius: 0px
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    overflow: hidden;
}

.content {
    width: 100%;
    float: left;
}

.slideContent {
    margin-top:2px;
    background-color: #D8D8D8;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding:3% 5%;
}

.topContent {
    background-color: #D8D8D8;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding:3% 5%;
    margin-top:2px;
}

.bottomContent {
    background-color: #D8D8D8;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding:3% 5%;
    margin-top:2px;
}

/*slider styles*/
#slideshow #slideshowWindow { 
    width:500px; 
    height:220px; 
    margin:0; 
    padding:0; 
    position:relative; 
    overflow:hidden; 
} 

#slideshow #slideshowWindow .slide { 
    margin:0; 
    padding:0; 
    width:500px; 
    height:257px; 
    float:left; 
    position:relative; 
}

#slideshow #slideshowWindow .slide .slideText { 
    position:absolute; 
    background-color: #FFF;
    top:130px; 
    left:0px; 
    width:100%; 
    height:130px; 
    margin:0; 
    padding:0; 
    color:#800; 
    font-family:Myriad Pro, Arial, Helvetica, sans-serif; 
}

#slideshow #slideshowWindow .slide .slideText h2, #slideshow #slideshowWindow .slide .slideText p { 
    margin:10px 0 0 10px; 
    padding:0; 
}

/*Footer style*/
.mainFooter {
    background-color: #C8C8C8
    height:20px;
}
