<!DOCTYPE html>
<html>
  <head>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <style>
      .highlighted { background: yellow }
    </style>
  </head>

  <body ng-app="Search">
    <h1>Highlight text using AngularJS.</h1>

    <div class="container" ng-controller="Search">
      <input type="text" placeholder="Search" ng-model="search.text">

      <ul>
        <!-- filter code -->
        <div ng-repeat="item in data | filter:search.text"
           ng-bind-html="item.text | highlight:search.text">
        </div>
      </ul>
    </div>
  </body>
</html>